<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- CSS only -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Index</title>
    <link rel="stylesheet" href="styles.css">
    {{!-- <link rel="stylesheet" href="tailwind.css"> --}}
  </head>
  <body>
   <header class="bg-red-500 text-white body-font">
  <div class="container1 mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl"><a class="text-xl text-white" href="/">V- Fit</a></span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a href="#about" class="mr-5 hover:text-gray-900 border-b-2 border-white hover:border-gray-900">About us</a>
      <a href="#signup" class="mr-5 hover:text-gray-900 border-b-2 border-white hover:border-gray-900">Sign in</a>
      <a href="#signup" class="mr-5 hover:text-gray-900 border-b-2 border-white hover:border-gray-900">Signup</a>
    </nav>
  </div>
</header>


      <section class="text-black body-font" id="about" style="background-color: #FFD9D0; border: 1px solid black;">
  <div class="container1 mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center text-justify">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-black">V- Fit India</h1>
      <p class="mb-8 leading-relaxed">After their inception in August of 2012 at Noida, UP, V-Fit has become one of the largest co-ed gym chains in the NCR area with over 4 clubs in various areas. Today, V-Fit has expanded its fitness profile to offer all of the latest equipment and services, including group exercise, personal training, cardiovascular equipment, spinning and yoga, while maintaining its core weight lifting tradition. The year 2022 marked the 10th anniversary of V-Fit. In these glorious years, V-Fit has expanded its legacy and is ready for more in the future.</p>
      <div class="flex justify-center">
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?gym">
    </div>
  </div>
</section>


        <section class="text-gray-600 body-font">
        <div class="container1 mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?fitness">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">COVID safe environment 
              
            </h1>
            <p class="mb-8 leading-relaxed">One thing that we have all learnt and agree is that we
                    have to take care of our health more than ever. It’s absolutely imperative to focus on our fitness by performing regular exercise and practice clean eating. V- Fit is determined to make India fitter and healthier and looks forward to take every step possible to make our gyms the safest place to do so.</p>
            <div class="flex justify-center">
              
            </div>
          </div>
        </div>
      </section>


     <section class="text-black body-font" style="background-color: #FFD9D0; border: 1px solid black;">
  <div class="container1 mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center text-justify">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-black">Begin your fitness journey with us</h1>
      <p class="mb-8 leading-relaxed">V-Fit India is known for their world-class personal trainers and training programs. Our highly trained and experienced Personal Trainers can help you through one-on-one sessions to make sure you don't waste time achieving your full potential. We offer the fastest transformations in the shortest period of time.</p>
      <div class="flex justify-center"></div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?zumba">
    </div>
  </div>
</section>




<section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text text-white">No words can express my gratitude for the professionals who made my dream, to become fit, real.</h2>
          <img class="testimonial-image" src="../images/dog-img.jpg" alt="dog-profile">
          <em class="jjhk text-white">Harjot,Chandigarh</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text text-white">Absolutely amazing experience, made the arduos task of losing weight so much fun.</h2>
          <img class="testimonial-image" src="../images/lady-img.jpg" alt="lady-profile">
          <em class="jjhk text-white">Ritwik,Noida</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


      {{#if message}}

          <h4 class=" alert alert-danger mt-4">{{message}}</h4>

      {{/if}}
      <section class="rtty" id="signup">
      <div class="alpha" id="alpha">
        <div class="form-alpha sign-up-alpha">
          <form action="/beta" method="post">
            <h1 class="jayt">Create Account</h1>
            <input class="yuui" type="text" placeholder="Name" name="name" />
            <input class="yuui" type="email" placeholder="Email" name="email"/>
            <input class="yuui" type="password" placeholder="Password" name="password" />
            <button type="submit" class="try">Sign Up</button>
          </form>
        </div>
        <div class="form-alpha sign-in-alpha">
          <form action="/" method="post">
            <h1 class="jayt">Welcome</h1>
            <input class="yuui" type="email" placeholder="Email" name="username"/>
            <input class="yuui" type="password" placeholder="Password" name="passcode"/>
            
            <button type="submit" class="try">Sign In</button>
          </form>
        </div>
        <div class="overlay-alpha">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1 class="jayt">Welcome Back!</h1>
              <p class ="ghyyu">To keep connected with us please login with your personal info</p>
              <button class="ghost try" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1 class="jayt">Hello, Friend!</h1>
              <p class ="ghyyu">Enter your personal details and start journey with us</p>
              <button class="ghost try" id="signUp">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
    </section>  
  
<div class="zdff">
<footer class=" body-font">
    <div class=" mt-44 bg-red-500  flex items-center sm:flex-row flex-col px-3 h-16">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl text-white">V - Fit</span>
      </a>
      <p class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 V - Fit 
        <!-- <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@knyttneve</a> -->
      </p>
      <!-- <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a class="ml-3 text-gray-500">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span> -->
    </div>
  </footer>

  </div>


	<script src="/index.js">
  </script>
  </body>
</html>