.uiooip{
    padding-bottom: 40px;
    padding-top: 100px;
}
.table-dark{
    width: 430px;
    padding-left: 150px;
}
.gnnji{
    padding-left: 400px;
}
.yuiiy{
    padding-right:50px;
    position: absolute;
    left: 45%;
}
.bnnms{
    padding-left: 110px;
    padding-top: 30px;
}
.jkloop{
    font-size: 1.3rem;
    padding-bottom: 30px;
    border: 2px solid #FF4B2B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}